*~
*.backup
*.swp
.*.kate-swp
*.o
*.a
*.pyc
*.orig

.cproject
.metadata/
.project
.settings/

\#*\#
.\#*

.idea

gaugeobservables_beta*
conf.?????
cl_kernelsource.cl
time_measurement_0
time_measurement_1

build
debug
doc/architecture

README.html

*.cproject
*.project
*.settings/

/Debug/
