*~
*.backup
*.swp
.*.kate-swp
*.o
*.a
*.pyc
*.orig

\#*\#
.\#*

gaugeobservables_beta*
conf.?????
cl_kernelsource.cl
time_measurement_0
time_measurement_1

#Exclude most common folders
/[bB]uild/
/[dD]ebug/

#Exclude everything in doc folder except LaTeX files and configuration files
/doc/*
!/doc/*.tex
!/doc/CMakeLists.txt
!/doc/Doxyfile.in

#Exclude some Eclipse files
*.cproject
*.html
*.project
*.settings/
*.pydevproject
*.texlipse

#Exclude symlink created by hooks setup
/_clang-format
